body {
    background: linear-gradient(-45deg, #51037f, #413D45, #51037f, #000000, #353535, #000000, #51037f);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    height: 100vh;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #fff;
    position: relative; /* Add this if it's not already there */
}
    body::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 100000;
        background-image: linear-gradient(0deg, transparent 24px, rgba(0, 0, 0, 0.1) 25px, transparent 26px);
        background-size: 100% 50px;
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


h1, h2 {
    text-align: center;
}





#wind_chill_gauge {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

    #wind_chill_gauge:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        border: 20px solid #eee;
    }

    #wind_chill_gauge:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        border: 20px solid transparent;
        border-top-color: #00ffff;
        animation: spin 2s linear infinite;
    }

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.indoor {
    margin-top: 50px;
    font-size: 3rem;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 5px #fff,0px 0px 5px #614ad3;
    }

    to {
        text-shadow: 0px 0px 20px #fff,0px 0px 20px #614ad3;
    }
}



#gauge_div {




}




#container1 {
    position: absolute;
    align-items: center;
    margin-left: 50px;
}


#container2 {
    position: absolute;
    align-items: center;
    margin-left: 350px;
}



#container3 {
    position: absolute;
    align-items: center;
    margin-left: 650px;
}


#container4 {
    position: absolute;
    align-items: center;
    margin-left: 950px;
}


#container5 {
    position: absolute;
    align-items: center;
    margin-left: 1250px;
}



.rectangle {
    height: 1.2px;
    width: 1470px;
    margin-left: 20px;
    background-color:aliceblue;
    position: absolute;
    margin-top: 240px;
}

body {
    background: linear-gradient(-45deg, #51037f, #413D45, #51037f, #000000, #353535, #000000, #51037f);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    height: 100vh;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #fff;
    position: relative; /* Add this if it's not already there */
}
    body::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 100000;
        background-image: linear-gradient(0deg, transparent 24px, rgba(0, 0, 0, 0.1) 25px, transparent 26px);
        background-size: 100% 50px;
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


h1, h2 {
    text-align: center;
}





#wind_chill_gauge {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

    #wind_chill_gauge:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        border: 20px solid #eee;
    }

    #wind_chill_gauge:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        border: 20px solid transparent;
        border-top-color: #00ffff;
        animation: spin 2s linear infinite;
    }

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.indoor {
    margin-top: 50px;
    font-size: 3rem;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.outdoor {
    position: absolute;
    top: 280px;
    transform: translateX(-50%);
    font-size: 2rem;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 280px;
    margin-left: 340px;
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 5px #fff,0px 0px 5px #614ad3;
    }

    to {
        text-shadow: 0px 0px 20px #fff,0px 0px 20px #614ad3;
    }
}







#container1 {
    position: absolute;
    align-items: center;
    margin-left: 50px;
}

#container2 {
    position: absolute;
    align-items: center;
    margin-left: 350px;
}

#container3 {
    position: absolute;
    align-items: center;
    margin-left: 650px;
}

#container4 {
    position: absolute;
    align-items: center;
    margin-left: 950px;
}

#container5 {
    position: absolute;
    align-items: center;
    margin-left: 1250px;
}




.rectangle {
    height: 1.2px;
    width: 1470px;
    margin-left: 20px;
    background-color:aliceblue;
    position: absolute;
    margin-top: 240px;
}


.vertical_rectangle {
    height: 200px;
    width: 1.2px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 280px;
}




