<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>


    <title>Weather Data</title>
</head>
<body>
    <h1>VANTAGE PRO 2 WEATHER MONITORING</h1>
    <h2>Located at TA, UNITEN</h2>


    <hr />

    <h2 class="indoor">Indoor</h2>


    <h2 class="outdoor">Outdoor</h2>







    <div id="container3">
        <div id="pressure_text"></div>
        <div id="gauge_div2"></div>
    </div>

   <div id="container1">
    <div id="temperature-wrapper">
        <p>Temperature: <span id="temperature">...</span></p>
        <div id="temperature_gauge"></div>
    </div>
</div>

<div id="container2">
    <div id="humidity-wrapper">
        <p>Humidity: <span id="humidity">...</span></p>
        <div id="humidity_gauge"></div>
    </div>
</div>

<div id="container3">
    <div id="pressure-wrapper">
        <p>Pressure: <span id="pressure">...</span></p>
        <div id="pressure_gauge"></div>
    </div>
</div>

<div id="container4">
    <div id="dew-wrapper">
        <p>Dew Point: <span id="dew_point">...</span></p>
        <div id="dew_gauge"></div>
    </div>
</div>

<div id="container5">
    <div id="wet-wrapper">
        <p>Wet Bulb: <span id="wet_bulb">...</span></p>
        <div id="wet_gauge"></div>
    </div>
</div>




    <div class="rectangle"></div>

    <div class="vertical_rectangle"></div>





    <p>Heat Index: <span id="heat_index">...</span></p>
    <div id="heat_gauge"></div>




    <p>Wind Chill: <span id="wind_chill">...</span></p>
    <div id="wind_chill_gauge"></div>




















    <script src="static/app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['gauge'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawTemperatureChart();
            drawHumidityChart();
            drawPressureChart();
            drawDewChart();
            drawWetChart();
            drawHeatChart();
            drawWindChillChart();
        }

        function drawTemperatureChart() {
            var temperatureData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Temperature', 0]
            ]);


            var temperatureOptions = {
                width: 450,
                height: 160,
                redFrom: 50,
                redTo: 60,
                yellowFrom: 40,
                yellowTo: 50,
                minorTicks: 5,
                min: 0,
                max: 60,
            };

            var temperatureChart = new google.visualization.Gauge(document.getElementById('temperature_gauge'));

            temperatureChart.draw(temperatureData, temperatureOptions);
        }

        function drawHumidityChart() {
            var humidityData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Humidity', 0]
            ]);

            var humidityOptions = {
                width: 450,
                height: 160,
                redFrom: 80,
                redTo: 100,
                yellowFrom: 60,
                yellowTo: 80,
                minorTicks: 5,
                min: 0,
                max: 100,
            };

            var humidityChart = new google.visualization.Gauge(document.getElementById('humidity_gauge'));

            humidityChart.draw(humidityData, humidityOptions);
        }

        function drawPressureChart() {
            var pressureData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Pressure', 0]
            ]);

            var pressureOptions = {
                width: 450,
                height: 160,
                redFrom: 1000,
                redTo: 1100,
                yellowFrom: 900,
                yellowTo: 1000,
                minorTicks: 5,
                min: 900,
                max: 1100,
            };

            var pressureChart = new google.visualization.Gauge(document.getElementById('pressure_gauge'));

            pressureChart.draw(pressureData, pressureOptions);
        }







        function drawDewChart() {
            var dewData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Dew Point', 0]
            ]);

            var dewOptions = { // Change variable name to dewOptions
                width: 450,
                height: 160,
                redFrom: 1000,
                redTo: 1100,
                yellowFrom: 900,
                yellowTo: 1000,
                minorTicks: 5,
                min: 900,
                max: 1100,
            };

            var dewChart = new google.visualization.Gauge(document.getElementById('dew_gauge'));

            dewChart.draw(dewData, dewOptions); // Use dewOptions variable
        }







        function drawWetChart() {
            var wetData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Wet Bulb', 0]
            ]);

            var wetOptions = {
                width: 450,
                height: 160,
                redFrom: 1000,
                redTo: 1100,
                yellowFrom: 900,
                yellowTo: 1000,
                minorTicks: 5,
                min: 900,
                max: 1100,
            };

            var wetChart = new google.visualization.Gauge(document.getElementById('wet_gauge'));

            wetChart.draw(wetData, wetOptions); // Use wetOptions variable
        }





        function drawHeatChart() {
            var heatData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Heat Index', 0]
            ]);

            var heatOptions = {
                width: 400,
                height: 120,
                redFrom: 50,
                redTo: 60,
                yellowFrom: 40,
                yellowTo: 50,
                minorTicks: 5,
                min: 0,
                max: 60
            };

            var heatChart = new google.visualization.Gauge(document.getElementById('heat_gauge'));

            heatChart.draw(heatData, heatOptions); // Use heatOptions variable
        }





        function drawWindChillChart() {
            var windChillData = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Wind Chill', 0]
            ]);

            var windChillOptions = {
                width: 400,
                height: 120,
                redFrom: -50,
                redTo: -40,
                yellowFrom: -40,
                yellowTo: -30,
                minorTicks: 5
            };

            var windChillChart = new google.visualization.Gauge(document.getElementById('wind_chill_gauge'));

            windChillChart.draw(windChillData, windChillOptions);
        }






google.charts.load('current', { 'packages': ['gauge'] });
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    // assuming the gauge element has an ID of 'gauge_div'
    var gaugeElement = document.getElementById('gauge_div2');
    var textElement = document.getElementById('pressure_text');

    // create the gauge object
    var gauge = new google.visualization.Gauge(gaugeElement);

    // set the options for the gauge
    var options = {
        width: 400,
        height: 120,
        redFrom: 90,
        redTo: 100,
        minorTicks: 5,
        min: 0,
        max: 100
    };

    function updateData() {
        // create the gauge object
        var gauge = new google.visualization.Gauge(gaugeElement);

        // fetch the weather data
        fetch('https://api.openweathermap.org/data/2.5/weather?lat=2.977007&lon=101.733376&appid=2917ab3f70f94f881d8a1b5dff4039d6')
            .then(response => response.json())
            .then(data => {
                // handle the weather data
                // update the gauge value with the pressure
                var pressure = data.main.pressure;
                var pressureInHg = pressure * 0.02953; // Convert hPa to inHg
                var gaugeData = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['Pressure', {v: pressureInHg, f: pressureInHg.toFixed(2) + ' inHg'}]
                ]);
                gauge.draw(gaugeData, options);

                // update the text element with the pressure value
                textElement.textContent = 'Pressure: ' + pressureInHg.toFixed(2) + ' inHg';
            })
            .catch(error => {
                console.error('Error fetching weather data:', error);
            });
    }

    // call updateData() initially
    updateData();

    // call updateData() every 3 minutes
    setInterval(updateData, 180000);
}

    </script>


</body>
</html>
